---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://upload.wikimedia.org/wikipedia/commons/9/97/3pi_%28three_pi%29_symbol.svg"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://media.licdn.com/dms/image/v2/D4E0BAQEyYN9q1l0VyQ/company-logo_200_200/B4EZiwJ7w6GwAI-/0/1755302051539/3pi_medios_logo?e=2147483647&v=beta&t=sVzObuTIhf7sLffr4Q0stFd_RjDX4mk5rl9gIddlBDk"
    />
    <link
      rel="apple-touch-icon"
      href="https://media.licdn.com/dms/image/v2/D4E0BAQEyYN9q1l0VyQ/company-logo_200_200/B4EZiwJ7w6GwAI-/0/1755302051539/3pi_medios_logo?e=2147483647&v=beta&t=sVzObuTIhf7sLffr4Q0stFd_RjDX4mk5rl9gIddlBDk"
    />
    <meta name="theme-color" content="#0b0d10" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Inter", sans-serif;
    background: #0b0d10;
    color: #ffffff;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
  }
</style>